@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BrokenDetroit';
    src: url('/fonts/broken-detroit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}